VITE_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
VITE_BATCH_ESCROW_ADDRESS=
VITE_USDC_ADDRESS=0x534b2f3A21130d7a60830c2Df862319e593943A3
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
DEPLOYER_PRIVATE_KEY=
